@import "variables.scss";

section#over {
	h2 {
		font-size: 45px;
		margin-bottom: 60px;
		margin-top: 15px;
	}

	p {
		font-size: 2.5rem;
		line-height: 1.4em;
	}
	
	.subtitle {
		font-family: $font-family-opensans;
		font-size: 26px;
	}


}

section#what-we-do {
	h2 {
		font-size: 39px;
		margin-bottom: 20px;
	}
	
	p {
		font-size: 1.1em;
		line-height: 1.8em;
	}
	
	.subtitle {
		font-family: $font-family-opensans;
		font-size: 26px;
	}
}